main {
  grid-column: center-start / center-end;
  margin: 5rem 0;

  .article {
    overflow: hidden;
    padding: 3rem;
    border-radius: 1rem;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__header {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      img {
        @extend %profile-img;
      }

      h4 {
        @extend %name;
      }

      p {
        @extend %post;
      }
    }

    h3 {
      @extend %headlines;
    }

    &__feedback {
      @extend %feedback-white;
    }
  }

  .article_1 {
    z-index: 2;

    background-color: $section-1;
    position: relative;

    &::before {
      content: url("../images/bg-pattern-quotation.svg");
      position: absolute;
      top: 1rem;
      right: 10%;
      opacity: 0.9;
      z-index: -1;
      transform: scale(1.2);
    }

    img {
      border: 0.2rem solid hsla(210, 46%, 95%, 0.3);
    }
  }

  .article_2 {
    background-color: $section-2;
  }

  .article_3 {
    background-color: $section-3;
  }

  .article_4 {
    background-color: $section-4;
    img {
        border: 0.2rem solid hsl(263, 55%, 52%);
    }
  }

  .article_5 {
    background-color: $section-3;
  }

  @include breakpoint-up("xlarge") {
    // margin: 10vh 0;
    display: grid;
    grid-template-columns:
      [center-start] repeat(4, [col-start] minmax(min-content, 1fr) [col-end])
      [center-end];
    grid-template-rows: repeat(2, 33rem);
    grid-gap: 3rem;
    place-content: center;

    .article:not(:last-child) {
      margin-bottom: 0;
    }

    .article_1 {
      grid-column: center-start / col-end 2;
    }

    .article_2 {
      grid-column: span 1;
    }

    .article_3 {
      grid-column: col-start 1 / col-end 1;
    }

    .article_4 {
      grid-column: col-start 2 / span 2;
    }

    .article_5 {
      grid-column: col-start 4 / col-end 4;
      grid-row: 1 / 3;
    }
  }
}
