:root {
  font-size: 62.5%;
}

.main-grid {
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 1.6;
  background-color: $light-gb;
  display: grid;
  grid-template-columns: [container-start] minmax(2rem, 1fr) [center-start] auto [center-end] minmax(
      2rem,
      1fr
    ) [container-start];
  // place-items: center;
  min-height: 100vh;
  letter-spacing: 0.05rem;

  @include breakpoint-up("large") {
    grid-template-columns: [container-start] 1fr [center-start] 70% [center-end] 1fr [container-start];;
  }
}

.attribution {
    @include breakpoint-down("medium") {
        display: none;
    }
}

.white {
  color: hsl(0, 0%, 100%);
}

.black {
  color: hsl(217, 19%, 35%);
}

.black-name {
    color: hsl(217, 19%, 35%) !important;
}

.black-post {
    color: hsla(217, 19%, 35% , .5) !important;
}

.shadow {
    box-shadow: 2rem 2rem 2rem 0 rgba($color: #000000, $alpha: 0.1);
}


%profile-img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 50%;
}

%name {
  color: $light-gray;
  font-weight: font-weight(bold);
  font-size: calc(1rem + 0.3vw);
}

%post {
    color: hsla(0, 0%, 81% , 0.5);
    font-size: calc(1rem + 0.1vw);
}

%headlines {
    font-size: 2rem;
    line-height: 1.3;
}

%feedback-white {
    color: hsla(0, 0%, 81% , 0.7);
    font-size: 1.5rem;
    letter-spacing: 0;
}

.black-feedback {
    color: hsla(217, 19%, 35% , .7) !important;
    font-size: 1.5rem;
    letter-spacing: 0;
}